.heading-info {
	margin-left: 100px;
	color: rgb(0,154,200);
}	

 .brand-name {
	display: flex;
	align-items: center;
	margin: 0;
}

  .brand-slogan {
	display: flex;
	align-items: center;
	margin: 0;
}
