.contact-main{
	margin: 120px 100px 50px 100px;
	Background-color: rgb(64,149,150);
	box-shadow: 6px 10px gray;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	height: 400px;
}

.contact-heading {
	font-family: 'Lobster', cursive;
	font-size: 36px;
}

.contact-main li {
   display:flex;
   justify-content:space-between;
   list-style: none;
   margin: 5;
   padding: 5;
}

.contact-main a {
	text-decoration: none;
	color: rgb(100,100,100);
	cursor: pointer;
	transition: 0.15s;
}
.contact-main p {
	margin-top: 2px;
}


.email-contact{
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid rgb(100,100,100);
	background-color: white;
	margin-right: 10px;
	height: 30px;
}


.email-contact:hover{
	background-color: rgb(100,100,100);
	color: white;
}

.email-contact:active{
	box-shadow: 0 5px gray;
	transform: translateY(4px);
}
	
.address-info {
	margin-top: 20px;
}	