.heading-info {
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 10px;
	Background-color: rgb(64,149,150);
	height: 100px;
	position:fixed;
	top:5px;
	left:5px;
	right:5px;
	box-shadow: 3px 5px gray;
}

.left-section {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 400px;
flex-shrink:0;
}

.brand-name {
	color: rgb(100,100,100);
	font-family: 'Lobster', cursive;
	font-size: 38px;
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 2px;
}

.brand-slogan {
	color: rgb(83,192,194);
	margin-top: 0;
	margin-left: 65px;
	flex-shrink:0;
}
/* Nav Menu */
.right-section {
display: flex;
justify-content: right;
align-items: center;
padding-right: 10px;
}

.right-section ul {
   display:flex;
   justify-content:space-between;
   list-style:none;
   margin: 0;
   padding: 0;
}

.right-section a {
	text-decoration: none;
	color: rgb(100,100,100);
	cursor: pointer;
	transition: 0.15s;
}
.right-section p {
	margin-top: 2px;
}

.menu-home, .menu-bio, .menu-portofolio, .menu-projects, .menu-contact {
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid rgb(100,100,100);
	background-color: white;
	margin-right: 10px;
	height: 30px;
}


.menu-home:hover, .menu-bio:hover, .menu-portofolio:hover, .menu-projects:hover, .menu-contact:hover {
	background-color: rgb(100,100,100);
	color: white;
}

.menu-home:active, .menu-bio:active, .menu-portofolio:active, .menu-projects:active, .menu-contact:active {
	box-shadow: 0 5px gray;
	transform: translateY(4px);
	}