.web-design {
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.web-design p {
	padding-left: 25px;
}

.zbranum-me {
	width: 400px;
	height: 115px;
	border: none;
}