.resume-main {
	margin: 120px 100px 50px 100px;
	Background-color: rgb(64,149,150);
	box-shadow: 6px 10px gray;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 20px;
	
}
h1 {
	margin-top: 40px;
	font-family: 'Lobster', cursive;
	font-size: 40px;
}

.resume-title{
	font-weight: 0,700;
	margin-top: 20px;
	font-size: 24px;
}

.objective{
	text-align: center;
	text-indent: 55px;
}

h3 {
	margin-top: 50px;
	margin-bottom: 5px;
	font-size: 30px;
	font-family:'Lobster', cursive;
}

.resume-skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 10px;
	justify-content: center;
	border: 5px dashed black;
	border-radius: 10px;
	padding: 10px;
	margin: 0 20px;
}

.resume-experience {
	border: 5px dashed black;
	border-radius: 10px;
	padding: 10px;
	margin: 0 20px;
	text-align: left;
}

.resume-experience ul {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 18px;
}

.resume-experience p {
	margin-top: 10px;
	margin-bottom: 0px;
	text-indent: 15px;
	font-size: 20px;
}

h4 {
	font-weight: 0,700;
	font-size: 22px;
	margin-top: 2px;
	margin-bottom: 0;
}

h5 {
	font-weight: 0,700;
	font-size: 18px;
	margin-top: 2px;
	margin-bottom: 0px;
}

.resume-edu-cert {
	border: 5px dashed black;
	border-radius: 10px;
	padding: 10px;
	margin: 0 20px;
}