.resume-main {
	flex-direction: row;
}

.resume-title{
	margin-top: 20px;
}

.objective{
	text-align: center;
	text-indent: 55px;
}

.resume-skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 10px;
	justify-content: center;
	border: 5px dashed black;
	border-radius: 10px;
	padding: 10px;
	margin: 0 20px;
}

.resume-experience {
	border: 5px dashed black;
	border-radius: 10px;
	padding: 25px;
	margin: 0 20px;
	text-align: left;
}

.resume-experience ul {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 18px;
}

.resume-experience p {
	margin-top: 10px;
	margin-bottom: 0px;
	text-indent: 15px;
	font-size: 20px;
}

.resume-edu-cert {
	border: 5px dashed black;
	border-radius: 10px;
	padding: 10px;
	margin: 0 20px;
}